In [152]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from datetime import datetime

In [133]:
chrome_path = "C:\\Users\\Haruez\\Downloads\\chromedriver_win32 (1)\\chromedriver.exe"
chrome_options = Options()
chrome_options.add_argument("headless")
driver = webdriver.Chrome(chrome_path, options=chrome_options,keep_alive=False)
url = "https://www.insidearbitrage.com/insider-sales/?desk=yes"
driver.get(url)

<ipython-input-133-4acefeaffedf>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_path, options=chrome_options,keep_alive=False)
<ipython-input-133-4acefeaffedf>:4: DeprecationWarning: keep_alive has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_path, options=chrome_options,keep_alive=False)

Now we start scraping the data

In [125]:
#xpath: way to indentify some area of a webpage
#Here we are taking the xpath of the name of the stock showing in first column
tickerpath = """//*[@id="sortTableM"]/div/table[1]/tbody/tr[41]/td[1]"""
ticker = driver.find_element(by=By.XPATH, value=tickerpath)
ticker.text

'VNOM'

In [99]:
ticker.text

''

In [98]:
ticker.text

''

To get every single ticker in the table. WE first find how many items in the table, so we can iterate and get the whole list of companies. last is 101 in the page, so:

In [139]:
tickerpath = """//*[@id="sortTableM"]/div/table[1]/tbody/tr[41]/td[1]"""
ticker = driver.find_element(by=By.XPATH, value=tickerpath)
ticker.text

'VNOM'

In [ ]:
relationshiplist = []
for i in range(2,102):    
relationshippath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[4]"""
relationship = driver.find_element(by=By.XPATH, value=relationshippath)
relationshiplist.append(relationship.text)
    
relationshippath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[4]"""
relationship = driver.find_element(by=By.XPATH, value=relationshippath)
relationshiplist.append(relationship.text)

relationshiplist

In [149]:
tickerlist = []
relationshiplist = []
datelist = []
costlist = []
shareslist = []
shareheldlist = []

for i in range(2,102):
    tickerpath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[1]"""
    ticker = driver.find_element(by=By.XPATH, value=tickerpath)
    tickerlist.append(ticker.text)

    relationshippath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[4]"""
    relationship = driver.find_element(by=By.XPATH, value=relationshippath)
    relationshiplist.append(relationship.text)

    datepath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[5]"""
    date = driver.find_element(by=By.XPATH, value=datepath)
    datelist.append(date.text)

    costpath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[6]"""
    cost = driver.find_element(by=By.XPATH, value=costpath)
    costlist.append(cost.text)

    sharespath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[7]"""
    shares = driver.find_element(by=By.XPATH, value=sharespath)
    shareslist.append(shares.text)

    shareheldpath = f"""//*[@id="sortTableM"]/div/table[1]/tbody/tr[{i}]/td[9]"""
    shareheld = driver.find_element(by=By.XPATH, value=shareheldpath)
    shareheldlist.append(shareheld.text)

In [128]:
len(tickerlist)

1

In [169]:
costlist

['$144.32',
 '$144.32',
 '$144.32',
 '$1.51',
 '$1.77',
 '$1.79',
 '$144.32',
 '$144.32',
 '$144.15',
 '$144.32',
 '$18.51',
 '$18.20',
 '$6.01',
 '$6.02',
 '$13.94',
 '$13.94',
 '$1.06',
 '$17.37',
 '$3.03',
 '$34.81',
 '$113.16',
 '$106.41',
 '$108.80',
 '$106.41',
 '$113.16',
 '$108.80',
 '$106.59',
 '$43.92',
 '$44.89',
 '$10.18',
 '$114.71',
 '$4.13',
 '$4.10',
 '$4.10',
 '$4.13',
 '$4.10',
 '$4.13',
 '$31.96',
 '$32.13',
 '$32.13',
 '$31.96',
 '$250.00',
 '$250.00',
 '$250.00',
 '$250.00',
 '$52.01',
 '$52.55',
 '$10.68',
 '$135.00',
 '$130.43',
 '$268.10',
 '$265.00',
 '$52.53',
 '$57.00',
 '$43.00',
 '$42.16',
 '$57.00',
 '$47.72',
 '$44.14',
 '$44.00',
 '$32.23',
 '$182.44',
 '$90.00',
 '$48.21',
 '$44.24',
 '$43.62',
 '$3.76',
 '$15.56',
 '$15.72',
 '$98.48',
 '$97.09',
 '$37.70',
 '$95.72',
 '$120.00',
 '$19.72',
 '$19.99',
 '$19.72',
 '$19.99',
 '$3.25',
 '$45.82',
 '$189.18',
 '$164.52',
 '$163.50',
 '$163.50',
 '$36.95',
 '$81.30',
 '$29.61',
 '$59.17',
 '$9.00',
 '$37.89',
 '$7.34',
 '$43.91',
 '$43.21',
 '$2220.00',
 '$177.92',
 '$179.19',
 '$153.00',
 '$15.80',
 '$16.48',
 '$16.47']

In [171]:
all_info = list(zip(tickerlist, relationshiplist,datelist,costlist, shareslist, shareheldlist))

In [173]:
all_info

[('SGEN', 'President & CEO', 'Apr 20, 2022', '$144.32', '1,885', '666,060'),
 ('SGEN',
  'Chief Financial Officer',
  'Apr 20, 2022',
  '$144.32',
  '567',
  '127,891'),
 ('SGEN', 'Chief Legal Officer', 'Apr 20, 2022', '$144.32', '401', '75,946'),
 ('CKPT',
  'CEO, President and Director',
  'Apr 13, 2022',
  '$1.51',
  '21,258',
  '2,838,003'),
 ('CKPT',
  'CEO, President and Director',
  'Apr 05, 2022',
  '$1.77',
  '14,030',
  '2,859,261'),
 ('CKPT',
  'CEO, President and Director',
  'Apr 04, 2022',
  '$1.79',
  '86,353',
  '2,873,291'),
 ('SGEN', 'EVP, Commercial', 'Apr 20, 2022', '$144.32', '319', '49,816'),
 ('SGEN',
  'Chief Technical Officer',
  'Apr 20, 2022',
  '$144.32',
  '574',
  '59,064'),
 ('SGEN', 'Chief Medical Officer', 'Apr 21, 2022', '$144.15', '652', '76,975'),
 ('SGEN', 'Chief Medical Officer', 'Apr 20, 2022', '$144.32', '787', '77,627'),
 ('KTOS',
  'SVP & General Counsel',
  'Apr 21, 2022',
  '$18.51',
  '1,000',
  '37,562'),
 ('KTOS', 'EVP & CFO', 'Apr 21, 2022', '$18.20', '10,000', '259,573'),
 ('FUSN',
  'Chief Executive Officer',
  'Apr 21, 2022',
  '$6.01',
  '922',
  '326,841'),
 ('FUSN',
  'Chief Executive Officer',
  'Apr 20, 2022',
  '$6.02',
  '367',
  '327,763'),
 ('BLFS', 'Chief Revenue Officer', 'Apr 21, 2022', '$13.94', '477', '41,480'),
 ('BLFS',
  'VP, Global Human Resources',
  'Apr 21, 2022',
  '$13.94',
  '325',
  '32,733'),
 ('XSPA', 'Director', 'Apr 20, 2022', '$1.06', '45,000', '106,485'),
 ('KTOS', 'President & CEO', 'Apr 21, 2022', '$17.37', '10,000', '536,795'),
 ('CXDO',
  'Chief Technology Officer',
  'Apr 20, 2022',
  '$3.03',
  '4,000',
  '422,597'),
 ('YELP',
  'Chief Operating Officer',
  'Apr 21, 2022',
  '$34.81',
  '6,000',
  '342,102'),
 ('LYV', 'President & CEO', 'Apr 20, 2022', '$113.16', '78,000', '3,214,565'),
 ('LYV', 'President & CEO', 'Apr 22, 2022', '$106.41', '78,000', '3,245,962'),
 ('LYV', 'President & CEO', 'Apr 21, 2022', '$108.80', '78,000', '3,233,888'),
 ('LYV', 'President & CEO', 'Apr 22, 2022', '$106.41', '78,000', '3,245,962'),
 ('LYV', 'President & CEO', 'Apr 20, 2022', '$113.16', '78,000', '3,214,565'),
 ('LYV', 'President & CEO', 'Apr 21, 2022', '$108.80', '78,000', '3,233,888'),
 ('HZNP',
  'Chairman, President and CEO',
  'Apr 22, 2022',
  '$106.59',
  '25,000',
  '494,136'),
 ('PRAA', 'President & CEO', 'Apr 21, 2022', '$43.92', '5,000', '365,949'),
 ('PRAA', 'President & CEO', 'Apr 20, 2022', '$44.89', '10,000', '371,574'),
 ('SEER', 'President & COO', 'Apr 20, 2022', '$10.18', '52,042', '384,080'),
 ('HZNP', 'EVP, CFO', 'Apr 20, 2022', '$114.71', '50,000', '22,591'),
 ('RDI', '10% Owner', 'Apr 21, 2022', '$4.13', '2,750', '1,259,899'),
 ('RDI', '10% Owner', 'Apr 22, 2022', '$4.10', '2,750', '1,257,149'),
 ('RDI',
  'Chairperson, EVP - RE Dev/NY',
  'Apr 22, 2022',
  '$4.10',
  '2,750',
  '1,257,149'),
 ('RDI',
  'Chairperson, EVP - RE Dev/NY',
  'Apr 21, 2022',
  '$4.13',
  '2,750',
  '1,259,899'),
 ('RDI',
  'Vice Chair, President and CEO',
  'Apr 22, 2022',
  '$4.10',
  '2,750',
  '1,257,149'),
 ('RDI',
  'Vice Chair, President and CEO',
  'Apr 21, 2022',
  '$4.13',
  '2,750',
  '1,259,899'),
 ('VNOM', '10% Owner', 'Apr 20, 2022', '$31.96', '33,000', '12,531,631'),
 ('VNOM', '10% Owner', 'Apr 21, 2022', '$32.13', '5,643', '12,525,988'),
 ('VNOM', '10% Owner', 'Apr 21, 2022', '$32.13', '5,643', '12,525,988'),
 ('VNOM', '10% Owner', 'Apr 20, 2022', '$31.96', '33,000', '12,531,631'),
 ('TGT', 'Executive Officer', 'Apr 20, 2022', '$250.00', '2,030', '7,891'),
 ('TGT', 'Executive Officer', 'Apr 20, 2022', '$250.00', '2,000', '25,207'),
 ('TGT', 'Executive Officer', 'Apr 20, 2022', '$250.00', '8,602', '9,909'),
 ('UNP',
  'EVP MARKETING & SALES',
  'Apr 21, 2022',
  '$250.00',
  '4,018',
  '41,177'),
 ('TFC', 'Director', 'Apr 20, 2022', '$52.01', '1', '57,408'),
 ('TFC', 'Director', 'Apr 21, 2022', '$52.55', '29', '1,237'),
 ('LFST',
  'Chief Development Officer',
  'Apr 20, 2022',
  '$10.68',
  '46,283',
  '5,669,472'),
 ('SI', 'Chief Operating Officer', 'Apr 22, 2022', '$135.00', '750', '10,097'),
 ('SI', 'Chief Operating Officer', 'Apr 21, 2022', '$130.43', '750', '10,847'),
 ('CI', 'Chairman & CEO', 'Apr 20, 2022', '$268.10', '45,380', '196,830'),
 ('CI', 'EVP, General Counsel', 'Apr 20, 2022', '$265.00', '5,918', '36,045'),
 ('APLS',
  'Senior Vice President',
  'Apr 20, 2022',
  '$52.53',
  '7,000',
  '28,481'),
 ('ZI', '10% Owner', 'Apr 20, 2022', '$57.00', '100', '41,671,145'),
 ('MGM', 'CEO AND PRESIDENT', 'Apr 20, 2022', '$43.00', '10,000', '132,603'),
 ('MGM', 'CEO AND PRESIDENT', 'Apr 01, 2022', '$42.16', '40,000', '142,603'),
 ('ZI', '10% Owner', 'Apr 20, 2022', '$57.00', '100', '41,671,145'),
 ('NUS', 'Director', 'Apr 22, 2022', '$47.72', '1,000', '71,214'),
 ('MGM',
  'CHIEF OPERATING OFFICER',
  'Apr 21, 2022',
  '$44.14',
  '796',
  '290,273'),
 ('MGM',
  'CHIEF OPERATING OFFICER',
  'Apr 20, 2022',
  '$44.00',
  '100',
  '291,069'),
 ('UNVR', 'President, CEO', 'Apr 21, 2022', '$32.23', '50,000', '249,381'),
 ('CRM',
  'Chairman and Co-CEO',
  'Apr 21, 2022',
  '$182.44',
  '2,300',
  '28,927,783'),
 ('SYY', 'EVP', 'Apr 21, 2022', '$90.00', '50,000', '32,324'),
 ('GLPI',
  'EVP, Gen Counsel &amp; Sec',
  'Apr 21, 2022',
  '$48.21',
  '3,000',
  '191,993'),
 ('BSY', 'Director', 'Apr 21, 2022', '$44.24', '319,951', '18,145,121'),
 ('BSY', 'Director', 'Apr 20, 2022', '$43.62', '144,654', '18,291,472'),
 ('VATE',
  'Chief Operating Officer',
  'Apr 20, 2022',
  '$3.76',
  '5,184',
  '208,375'),
 ('PARR', '10% Owner', 'Apr 21, 2022', '$15.56', '655,483', '7,733,122'),
 ('PARR', '10% Owner', 'Apr 20, 2022', '$15.72', '128,126', '7,834,538'),
 ('TNET', 'Director', 'Apr 20, 2022', '$98.48', '415', '71,163'),
 ('TNET', 'Director', 'Apr 21, 2022', '$97.09', '415', '70,899'),
 ('KDP',
  'President, Cold Beverages',
  'Apr 20, 2022',
  '$37.70',
  '37,500',
  '212,110'),
 ('BBY',
  'GC, Chief Risk Officer',
  'Apr 21, 2022',
  '$95.72',
  '1,188',
  '34,513'),
 ('EME',
  'Chairman, President and CEO',
  'Apr 21, 2022',
  '$120.00',
  '1,381',
  '291,256'),
 ('TALO', 'Director', 'Apr 21, 2022', '$19.72', '78,287', '15,538,785'),
 ('TALO', 'Director', 'Apr 20, 2022', '$19.99', '128,892', '15,653,900'),
 ('TALO', 'Director', 'Apr 21, 2022', '$19.72', '78,287', '15,538,785'),
 ('TALO', 'Director', 'Apr 20, 2022', '$19.99', '128,892', '15,653,900'),
 ('FTCI', '10% Owner', 'Apr 20, 2022', '$3.25', '67,000', '21,389,357'),
 ('TDC', 'Director', 'Apr 20, 2022', '$45.82', '4,092', '18,229'),
 ('UTHR',
  'EVP & GENERAL COUNSEL',
  'Apr 21, 2022',
  '$189.18',
  '6,000',
  '41,887'),
 ('PG', 'Executive Chairman', 'Apr 21, 2022', '$164.52', '60,000', '253,933'),
 ('PG', 'CEO - Beauty', 'Apr 21, 2022', '$163.50', '1,335', '7,571'),
 ('PG', 'CEO - Beauty', 'Apr 21, 2022', '$163.50', '6,854', '34,792'),
 ('CAG', 'EVP & Co-COO', 'Apr 21, 2022', '$36.95', '25,400', '96,550'),
 ('UPST',
  'General Counsel and Secretary',
  'Apr 20, 2022',
  '$81.30',
  '7,500',
  '193,367'),
 ('ALKS',
  'EVP, Chief Operating Officer',
  'Apr 20, 2022',
  '$29.61',
  '49,999',
  '87,915'),
 ('PLMR',
  'Chief Financial Officer',
  'Apr 20, 2022',
  '$59.17',
  '500',
  '25,925'),
 ('GPRO',
  'SVP, Chf. Digital & Mktg. Off',
  'Apr 20, 2022',
  '$9.00',
  '30,642',
  '301,045'),
 ('CYTK', 'President & CEO', 'Apr 20, 2022', '$37.89', '10,000', '409,124'),
 ('CELC', 'Director', 'Apr 20, 2022', '$7.34', '300', '8,525'),
 ('PGNY', 'Director', 'Apr 20, 2022', '$43.91', '8,330', '512,306'),
 ('PGNY', 'Director', 'Apr 21, 2022', '$43.21', '8,330', '501,426'),
 ('AZO',
  'Executive Vice President',
  'Apr 20, 2022',
  '$2220.00',
  '1,500',
  '783'),
 ('TRV',
  'EVP & President, Personal Ins.',
  'Apr 21, 2022',
  '$177.92',
  '10,000',
  '9,107'),
 ('TRV', 'Vice Chairman', 'Apr 21, 2022', '$179.19', '3,013', '251,605'),
 ('MRNA', 'See remarks', 'Apr 20, 2022', '$153.00', '2,000', '9,069'),
 ('EXPI',
  'CEO and Chairman of the Board',
  'Apr 21, 2022',
  '$15.80',
  '9,000',
  '42,036,118'),
 ('EXPI',
  'CEO and Chairman of the Board',
  'Apr 20, 2022',
  '$16.48',
  '9,000',
  '42,034,338'),
 ('ESTE', 'EVP and CFO', 'Apr 21, 2022', '$16.47', '30,000', '208,253')]

In [175]:
df = pd.DataFrame(all_info, columns= ["Comoany Symbol", "Relationship", "Date","Cost", "Shares sold", "Shares held"])
df

,Comoany Symbol,Relationship,Date,Cost,Shares sold,Shares held
0,SGEN,President & CEO,"Apr 20, 2022",$144.32,"1,885","666,060"
1,SGEN,Chief Financial Officer,"Apr 20, 2022",$144.32,567,"127,891"
2,SGEN,Chief Legal Officer,"Apr 20, 2022",$144.32,401,"75,946"
3,CKPT,"CEO, President and Director","Apr 13, 2022",$1.51,"21,258","2,838,003"
4,CKPT,"CEO, President and Director","Apr 05, 2022",$1.77,"14,030","2,859,261"
...,...,...,...,...,...,...
95,TRV,Vice Chairman,"Apr 21, 2022",$179.19,"3,013","251,605"
96,MRNA,See remarks,"Apr 20, 2022",$153.00,"2,000","9,069"
97,EXPI,CEO and Chairman of the Board,"Apr 21, 2022",$15.80,"9,000","42,036,118"
98,EXPI,CEO and Chairman of the Board,"Apr 20, 2022",$16.48,"9,000","42,034,338"
99,ESTE,EVP and CFO,"Apr 21, 2022",$16.47,"30,000","208,253"

In [176]:
df.to_csv("Insider.csv", index=False)